body{
margin: 0;
min-height: 100vh;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*hero section*/
.header{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 32px;
    margin: 0;
}
.lm{
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: space-between;
}
.logo{
    font-size:  24px; ;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    gap: 16px;
}


ul, a{
    list-style-type: none;
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}
.maint{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}
.sup-text{
    font-size: 18px;
    color: #E5E7EB;
}
button{
    background-color: #3882f6;
    color:#F9FAF8 ;
    outline: none;
    border: 0px 0px transparent;
    box-shadow: none;
    border-radius: 8px;
    padding: 4px 20px;
}
.tm{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 24px;

}
.img-holder{
    background-color: #E5E7EB;
    color: #1F2937;
    text-align: center;
    width: 550px;
    height: 250px; 
    display: flex;
    justify-content: center;
    align-items: center;    
}

.ig{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px;
    gap: 32px;
}
/*scended section*/
.secinfo{
text-align: center;

}
.titinfo{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    margin: 30px;
}
.br{
    border: 8px solid #3882f6;
    width: 200px;
    height: 150px;
    border-radius: 20px;

}
.secinfo{
    display: flex;
    justify-content: center;
    gap: 52px;
}
.info{
    max-width: 200px;
}
/*quot secton*/
.quote-sec{
    background-color: #E5E7EB;
    padding: 62px;
    margin-top:  32px;

}
.quot{
    font-size: 36px;
    font-weight: lighter;
    color: #1F2937;
    font-family: light italic;
    align-self: flex-start;
}
.insp{
    color: #1F2937;
    font-weight: bold;
    align-self: flex-end;


}
.containr{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 32px;
    gap: 18px;
}
/*footer section*/
.footer{
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 72px;
}
/*sin-up section*/
.sign-up-sec{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 52px;
}
.cont{
    background-color: #3882f6;
    color: #F9FAF8;
    padding: 32px;
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    width: 1000px;
    justify-content: space-between;
}
.textl{
    font-weight: 600;
}
.io{
    border-color: #F9FAF8;
    box-shadow: none;
}